.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../../imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.container {
  padding-bottom: 50px;
}

.ui.three.cards>.card {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .ui.three.cards>.card {
    height: 150px;
  }
}