.SearchBar {
  padding: 40px 0;
}

.ui.segment {
  background: rgba(0, 0, 0, 0);
}

.ui.form .field>label {
  color: #f5f5f5;
  padding-bottom: 10px;
}

.ui.form input[type=text] {
  color: #606060;
}

.ui.form input[type=text]:focus {
  color: black;
}

.SearchBar label {
  font-size: 1.15em !important;
}